 .container {
    background: linear-gradient(0.25turn, #1d1d1c, #4e4e4d, #acadad);
    margin: auto 5rem auto 5rem;
} 

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 900px;
    margin: 1.5rem auto 1.5rem auto;
    text-align: left;
}

.blog-cards {
    margin: 1rem 1rem 1rem 1rem;
}

.title {
    color: gray;
}
 img {
    width: 100%;
    max-height: 500px;
}


.blog-image {
    width: 100%;
    max-height: 500px;
}

.location-date-time {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0 .5rem 0 ;
}

.blog-entry {
    padding-top: 1rem ;
}

.footer {
    background: linear-gradient(0.25turn, #1d1d1c, #4e4e4d, #acadad);
    font-weight: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    color:whitesmoke
}

button {
    border: solid 1px black;
    background-color: transparent;
    /* border-radius: 50%; */
}


